<!DOCTYPE html>
<html lang="ja">
<%
var _default = json['default'];
for ( var key in _default ) {
    if ( typeof page[key] === 'undefined' ) {
        page[key] = _default[key];
    }
}
-%>
<head>
    <meta charset="UTF-8">
    <title><%= page['title'] %></title>
    <meta name="description" content="<%= page['description'] %>">
    <meta name="keywords" content="<%= page['keyword'] %>">
    <link rel="canonical" href="<%= page['canonical'] %>">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=10,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>